trigger:
- main
- master

pool:
  vmImage: ubuntu-latest

variables:
  ACR_LOGIN_SERVER: msanchiacr.azurecr.io
  ACR_USERNAME: msanchiacr
  IMAGE_NAME: flaskapp
  VM_HOST: 52.157.242.191
  VM_USER: azureuser
  CONTAINER_NAME: flaskapp
  CONTAINER_PORT: 5000
  HOST_PORT: 80

steps:
- checkout: self

# 1) Download the SSH private key from Secure files
- task: DownloadSecureFile@1
  name: sshkey
  inputs:
    secureFile: 'vm-flask-devops_key.pem'
  displayName: 'Download SSH key'

# 2) Build + Push Docker image to ACR
- script: |
    set -e
    echo "Logging in to ACR..."
    echo "$ACR_PASSWORD" | docker login "$ACR_LOGIN_SERVER" -u "$ACR_USERNAME" --password-stdin

    echo "Building image..."
    docker build -t $ACR_LOGIN_SERVER/$IMAGE_NAME:$(Build.BuildId) .

    echo "Tagging latest..."
    docker tag $ACR_LOGIN_SERVER/$IMAGE_NAME:$(Build.BuildId) $ACR_LOGIN_SERVER/$IMAGE_NAME:latest

    echo "Pushing..."
    docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:$(Build.BuildId)
    docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:latest
  displayName: 'Build & Push to ACR'
  env:
    ACR_LOGIN_SERVER: $(ACR_LOGIN_SERVER)
    ACR_USERNAME: $(ACR_USERNAME)
    ACR_PASSWORD: $(ACR_PASSWORD)
    IMAGE_NAME: $(IMAGE_NAME)


# 3) SSH into VM and run the container
- script: |
    set -e

    echo "Preparing SSH key..."
    chmod 600 "$(sshkey.secureFilePath)"

    echo "Deploying on VM via SSH..."
    ssh -i "$(sshkey.secureFilePath)" -o StrictHostKeyChecking=no $(VM_USER)@$(VM_HOST) << EOF
      set -e

      echo "Docker login to ACR on VM..."
      echo "$(ACR_PASSWORD)" | docker login "$(ACR_LOGIN_SERVER)" -u "$(ACR_USERNAME)" --password-stdin

      echo "Pull image..."
      docker pull $(ACR_LOGIN_SERVER)/$(IMAGE_NAME):$(Build.BuildId)

      echo "Stop old container if exists..."
      docker rm -f $(CONTAINER_NAME) || true

      echo "Run new container..."
      docker run -d --name $(CONTAINER_NAME) \
        -p $(HOST_PORT):$(CONTAINER_PORT) \
        --restart unless-stopped \
        $(ACR_LOGIN_SERVER)/$(IMAGE_NAME):$(Build.BuildId)

      echo "Show running containers:"
      docker ps

      echo "Quick health check (localhost):"
      curl -I http://localhost:$(HOST_PORT) || true
    EOF
  displayName: 'Deploy to Azure VM (docker run)'
